{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<h2>About Green2B</h2>
<p>
    Green2B is a B2B marketplace built to simplify the sourcing of sustainable and eco-friendly products. Our platform connects businesses with verified green suppliers, making it easier to find and purchase products that align with environmental values.
</p>

<p>
    We support companies in meeting their ESG goals by simplifying procurement through:
</p>

<ul>
    <li><strong>Impact Transparency:</strong> Our AI-driven sustainability scoring provides clear insights into the environmental impact of products.</li>
    <li> <strong>Bulk Order Aggregation:</strong> We help businesses save costs and reduce waste by aggregating bulk orders.</li>
    <li> <strong>Verified Green Suppliers:</strong> Our platform features a curated list of suppliers who meet strict sustainability criteria.</li>
    <li> <strong>AI Sustainability Scoring:</strong> We use AI to evaluate and score products based on their environmental impact, helping businesses make informed decisions.</li>
</ul>

<h3> Today's Problems </h3>
<ul> 
    <li><strong>Limited Access to Sustainable Suppliers:</strong>
        Businesses struggle to find reliable suppliers who are environmentally responsible for sustainable products, leading to inefficiencies and missed opportunities.
    </li>
    <li><strong>Unstable Demand Faced By Suppliers:</strong>
       Inconsistent demand for eco-friendly materials causes 30-40% operational inefficiencies
    <li><strong>High Costs:</strong>
        Sustainable products often come with higher costs, which can deter businesses from making eco-friendly choices. High costs deter 45%+ of businesses from using sustainable alternatives
    </li>
    <li><strong>Difficult to verify suppliers:</strong>
        Verifying suppliers' sustainability claims complicate tracking the environmental impact of purchases.
    </li>
    <li><strong>No centralized marketplace:</strong>
        The lack of a centralized platform for sustainable products makes it challenging for businesses to find and compare options, increasing transaction costs and inefficiencies.
    </li>
</ul>


<h3> Our Solutions </h3>
<ul>
    <li><strong>Quality Assurance:</strong>
        Green2B partners only with B Corp, Fairtrade, or certified suppliers, requiring
        strict product testing for sustainability and ethical sourcing.
    </li>
    <li><strong>Environmental Impact Transparency:</strong>
        Each product on Green2B is evaluated and given a Sustainability Score. Real-time dashboards to compare metrics across products and suppliers
    </li>
    <li><strong>Logistics Simplification:</strong>
        Green2B handles delivery and logistics, allowing suppliers to focus on production.
    </li>
    <li><strong>Diverse Supplier Network Offering:</strong>
        Green2B offers a broad range of suppliers, providing customisation services 
        to SMEs with competitive pricing and quality choices for eco-friendly products
    </li>
    <li><strong>Economies of Scale:</strong>
        Green2B enables suppliers to reduce costs through increased production
        capacity and efficiencies in raw materials, logistics, and distribution
    </li>
</ul>

<h3> Impact </h3>
<ul>
<h4>Businesses/ Buyers</h4>
<p>
    Green2B helps businesses reduce their carbon footprint and meet sustainability goals by providing access to a wide range of eco-friendly products. Our platform simplifies the procurement process, making it easier for companies to source sustainable materials and products. 
    We simplify procurement, save time, and reduce complexity. 
    We also aim to enhance corporate image and reputation by promoting sustainable practices, while supporting bsuinesses in reducing carbon emissions and achieving sustainabiliy certifications like BCorp.
    Green 2B guarantees that all products are sourced from verified sustainable suppliers, ensuring that businesses can trust the sustainability claims of the products they purchase.
</p>
<h4>Suppliers</h4>
<p>
    Green2B secures predictable revenue for sustainable manufacturers through bulk orders and long-term contracts.
    We aim to provide suppliers with access to the right buyers, for increased marketing exposure.
    By aggregating demand, we help suppliers achieve economies of scale, reducing costs and increasing production efficiency.
</p>
<h4>Environment</h4>
<ul>
<li><strong>SDG 12 (Responsible Consumption and Production):</strong> Reduces overproduction waste and targets a 20% waste reduction in the hospitality sector.</li>
<li><strong>SDG 13 (Climate Action):</strong> Helps
businesses lower carbon footprints by 25-
40%(estimated). Partners with DHL
GoGreen Plus to cut shipping emissions by
up to 30%, reducing greenhouse gas
emissions by up to 80%.</li>
<li><strong>Economic and Collaborative Growth:</strong> Stabilises demand for sustainable
suppliers, supporting SMEs and aligning
with SDG 8 and SDG 17 through strategic
partnerships and cross-sector
collaboration.
</ul>
    <p>
    Whether you're a growing startup or an established enterprise, Green2B is here to help you source products that not only meet your business needs but also contribute to a more sustainable future.
</p>
{% endblock %}