{% extends "supplier_base.html" %}

{% block title %}Recent Orders | Green2B{% endblock %}

{% block content %}
<h1> Recent Orders </h1>

{% if recent_orders %}
    <a href="{{ url_for('supplier_products') }}" class="btn btn-danger" style="background-color: #095c43; color: white; padding: 0.5rem 1rem; border: none; border-radius: 5px; cursor: pointer;">Back To Dashboard</a>

    <table>
        <tr>
            <th>Order ID</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        {% for order in recent_orders %}
            {% for item in order.order_items %}
            <tr>
                <td>Order ID: {{ order.id }}</td>
                <td>Product: {{ item.product_name }}</td>
                <td>Quantity: {{ item.quantity }}</td>
                <td>Price: {{ item.unit_price }}</td>
                <td>Status: {{ item.status }}</td>
            </tr>
            <td>
                <form action="{{ url_for('update_order_status', item_id=item.id) }}" method="POST">
                    <select name="status">
                        <option value="Pending" {% if item.status == 'Pending' %}selected{% endif %}>Pending</option>
                        <option value="Fulfilled" {% if item.status == 'Fulfilled' %}selected{% endif %}>Fulfilled</option>
                        <option value="Shipped" {% if item.status == 'Shipped' %}selected{% endif %}>Shipped</option>
                        <option value="Delivered" {% if item.status == 'Delivered' %}selected{% endif %}>Delivered</option>
                    </select>
                   <button type="submit" class="btn btn-danger" 
            style="background-color: #095c43; color: white; padding: 0.5rem 1rem; border: none; border-radius: 5px; cursor: pointer;">
            Update
        </button>
            {% endfor %}
        {% endfor %}
    </table>
{% else %}
    <p>No recent orders found.</p>
{% endif %}
{% endblock %}
